{% extends 'tasks/base.html' %}
{% block content %}
    <br>
    <h1>Dashboard</h1>
    <br>
    <div style="display:flex; flex-direction: row;">

    <!-- Left side columns -->
    <div class="col-lg-8">
        <div class="row">

          <!-- Brief task list -->
          <div class="col-12">
            </div>
          </div><!-- End Brief task list -->


          <!-- sprint list -->
          <div class="col-12">
            <div class="card top-selling overflow-auto">

              <div class="card-body pb-0">
                <h5 class="card-title">Tasks <span>| On going</span></h5>

                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Title</th>
                      <th scope="col">Status</th>
                      <th scope="col">Tag</th>
                      <th scope="col">Assignee</th>
                      <th scope="col">Due Date</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for x in sprint_ongoing %}
                    {% for y in x.tasks.all %}
                    <tr>
                      <td>{{y.title}}</td>
                      <td>{{y.get_status_display}}</td>
                      <td >None</td>
                      <td >{{y.assignee}}</td>
                      <td>{{y.due_date}}</td>
                    </tr>
                    {%endfor%}
                  {%endfor%}
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End sprint list -->

           <!-- member list -->
           <div class="col-12">
            <div class="card top-selling overflow-auto">

              <div class="card-body pb-0">
                <h5 class="card-title">Members <span>| </span></h5>

                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Tim</td>
                      <td>Leh</td>
                      <td >jpar007@gmail.com</td>
                    </tr>
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End member list -->

        </div>
      </div><!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-lg-4">


        <!-- Upcoming events -->
        <div class="card">

          <div class="card-body">
            <h5 class="card-title">Upcoming events <span>| pending </span></h5>

            <div class="activity">

            {% for x in sprint_pending %}
              <ul>
                <li>{{x.title}} - {{x.get_status_display}}</li>
              </ul>
            {%endfor%}
            </div>

          </div>
        </div><!-- Upcoming events -->

        
        <!-- Statistics -->
        <div class="card">
          <div class="card-body pb-0">
            <h5 class="card-title">Statistics <span>| This Project</span></h5>

            <div id="statisticChart" style="min-height: 400px;" class="echart"></div>

            <script src="js/Chart.min.js"></script>
          </div>
        </div><!-- End Budget Report -->


      </div><!-- End Right side columns -->
    </div>
{% endblock %}


 