{% extends 'tasks/base.html' %}
        <!--START OF CONTENTS-->
        {% block content %}
            <br>
            <br>
          <div class="page-header">
            <h1 class="page-header">Product Backlog</h1>
          </div>
            <br>
            <div>
            <table class= "table table-hover table-striped">
                <thead class="table_head">
                    <tr>
                        <th class="col1">Title</th>
                        <th class="col2">Priority</th>
                        <th class="col3">Status</th>
                        <th class="col4">Tag</th>
                        <th class="col5">Assignee</th>
                        <th class="col6">Due Date</th>
                        <th class="col6">Sprint</th>
                        <th class="col6" style="width:30px;"></th>
                        <th class="col7" style="width:30px;"><a href="{% url 'task-create'%}"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a></th>
                     </tr>
                 </thead>

                <tbody>
                    {% for x in tasks %}
                    <tr>
                      <td>{{ x.title }}</td>
                      <td>{{ x.get_priority_display }}</td>
                      <td>{{ x.get_status_display }}</td>
                      <td>{{ x.tag }}</td>
                      <td>{{ x.assignee }}</td>
                      <td>{{ x.due_date }}</td>
                      <td>{{ x.sprint }}</td>
                      <td><a href="{% url 'task-form' x.pk %}"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></td>
                      <td></td>
                      <td>
                          <a href="{% url 'task-delete' x.pk %}"><button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true" style="color: white"></i></button></a>
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="dropdown">
  <a class="btn btn-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-filter" style="color: black" aria-hidden="true"></i>
  </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'product-backlog' %}">Reset</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'sort-by-sprint-ascending' %}">Sort by Sprint (Ascending)</a>
                <a class="dropdown-item" href="{% url 'sort-by-sprint-descending' %}">Sort by Sprint (Descending)</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'sort-by-assignee-ascending' %}">Sort by Assignee (Ascending)</a>
                <a class="dropdown-item" href="{% url 'sort-by-assignee-descending' %}">Sort by Assignee (Descending)</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'sort-by-status-ascending' %}">Sort by Status (Ascending)</a>
                <a class="dropdown-item" href="{% url 'sort-by-status-descending' %}">Sort by Status (Descending)</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'sort-by-priority-ascending' %}">Sort by Priority (Ascending)</a>
                <a class="dropdown-item" href="{% url 'sort-by-priority-descending' %}">Sort by Priority (Descending)</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'sort-by-deadline-ascending' %}">Sort by Due Date (Ascending)</a>
                <a class="dropdown-item" href="{% url 'sort-by-deadline-descending' %}">Sort by Due Date (Descending)</a>
              </div>
            </div>
        {% endblock content %}
        <!-- end of content-->

