{% extends 'tasks/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <br>
    <br>
          <div class="page-header"><h1 class="page-header">Task Details</h1></div>
    <br>
    <form method="POST">
        {% csrf_token %}
        <fieldset >
            <legend >Update Task</legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button type="submit" class="btn btn-light"><i class="fa fa-check" aria-hidden="true"></i></button>
            {% if object %}
                <a href="{% url "task-delete" object.pk %}"><i class="fa fa-trash fa-1g" aria-hidden="true" ></i></a>
            {% endif %}
        </div>
    </form>
{% endblock content %}