{% extends 'tasks/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <!--suppress HtmlUnknownTarget -->
<form method="POST">
        {% csrf_token %}
        <fieldset >
            <br>
            <br>
          <div class="page-header">
              {% if task is None %}
                <h1 class="page-header">New Task</h1>
              {% else %}
                <h1 class="page-header">Task Update</h1>
              {% endif %}
          </div>
            <br>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button type="submit" class="btn btn-success">Save
{#                <i class="fa fa-check" aria-hidden="true" style="color: white"></i>#}
            </button>
            {% if task is not None %}
                <a href="{% url 'task-delete' task.id %}">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
                <a href="{% url 'task-detail' task.id %}">
                    <button type="button" class="btn btn-danger">Cancel</button>
                </a>
            {% else %}
                <a href="{% url 'product-backlog' %}">
                    <button type="button" class="btn btn-danger">Cancel</button>
                </a>
            {% endif %}
        </div>
    </form>
{% endblock content %}
