{% extends 'tasks/base.html' %}
{% block content %}
    <h1>{{ task.title }}</h1>
    <br>
    <p>{{ task.description }}</p>
    <br>
    <p>{{ task.get_priority_display }}   </p>
    <br>
    <p>{{ task.get_status_display }}     </p>
    <br>
    <p>{{ task.get_story_point_display }}</p>
    <br>
    <p>{{ task.tag }}        </p>
    <br>
    <p>{{ task.assignee }}   </p>
    <br>
    <p>{{ task.sprint }}     </p>
    <br>
    <p>{{ task.due_date }}   </p>
    <br>
    <p>{{ task.days_left }}   </p>

    {% if not task.sprint.active %}
        <a href="{% url 'task-update' task.id %}">
            <button type="button" class="btn btn-danger">Edit</button>
        </a>
    {% endif %}

    <a href="{% url 'task-list' %}">
        <button type="button" class="btn btn-danger">Back</button>
    </a>

{% endblock %}
