{% extends 'tasks/base.html' %}
{% block content %}
    <br>
      <div class="page-header">
        <h1 class="page-header">Recent Entries</h1>
      </div>
    <br>
    {% for entry in entry_list %}
        <div class="alert alert-light shadow-sm" role="alert" style="width:50%">
            <p><b>Task: </b>        {{ entry.task }}</p>
            <p><b>Sprint: </b>      {{ entry.task.sprint }}</p>
            <p><b>Date: </b>        {{ entry.date }}</p>
            <p><b>Duration: </b>    {{ entry.duration }} hours</p>
        </div>
    {% endfor %}
{% endblock content %}

