{% extends 'tasks/base.html' %}
{% block content %}
    {% if sprint.status == "ON" %}

        <h2>Sprint has started</h2>
        <a href="{%url 'sprint-backlog'%}" class="btn btn-warning" style="width:10%;" data-inline="true">OK</a>

    {% elif sprint.status == "EN" %}

        <h2>Sprint has ended</h2>
        <div class="card" style="width:100%; background-color: #DFDFDF;">
          <!-- if want to use img, use the below code -->
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h4 class="card-title"> {{sprint.title}} </h4>
            <div style="display: flex">
              <div style="flex:50%;">
                  <p class="card-text">Goal: {{ sprint.sprint_goal }}</p>
              </div>
              <div style="flex:50%;">
                <p class="card-text">Start Date: {{ sprint.start_date }}</p>
              </div>
            </div>
            <br>

            <div style="display: flex">
              <div style="flex:50%;">
                <p class="card-text">Status: {{ sprint.get_status_display }}</p>
              </div>
              <div style="flex:50%;">
                <p class="card-text">End Date: {{sprint.end_date}}</p>
              </div>
            </div>
            <br>

            <div style="display: flex">
              <div style="flex:50%;">
                <p class="card-text">Days Left: {{sprints.days_left}}</p>
              </div>
            </div>
          </div>
        </div>
        <a href="{%url 'sprint-backlog'%}" class="btn btn-warning" style="width:20%;" data-inline="true">Return to Sprint Backlog</a>
    {% endif %}

{% endblock %}