{% extends 'tasks/base.html' %}
{% block content %}
<!--FEATURES-->
<!--(1) START BUTTON -> STARTS THE SPRINT, PROMPT TO "sprint_list_1.html", HIDES IF SPRINT ALREADY DONE CAN USE IF LOOP-->
<!--(2) EDIT BUTTON -> PROMPT TO edit sprint page -->
<!--(3) STATIC TABLES -> HAVE NON-EDITABLE TABLES, DO IN ONE CLASS I THINK IF LOOP PROB CAN DO EITHER STATUS = COMPLETED OR ONGOING -->
<!--(4) TIMER -> SHOWS THE DUE DATE AND CURRENT DATE DIFFERENCE (https://stackoverflow.com/questions/41229963/how-to-calculate-diff-between-two-dates-in-django) -->
{% endblock %}