{% extends 'tasks/base.html' %}
{% block content %}
<!--FEATURES-->
<!--END BUTTON -> ENDS THE SPRINT, MAKE IT HIDE WITH JS(ONE TIME BUTTON), UPDATES STATUS TO DONE OR COMPLETE -->
<!--EDIT STATUS -> CAN EDIT STATUS OF THE TASKS, WILL UPDATE TO SQL. -->
<!--TIME-IN -> CAN INPUT A INPUT FIELD TO FILL IN TIME AND SAVE TO SQL. -->
<!--SAVE BUTTON -> PROMPT TO SAVE HTML AND UPDATES SQL -->
    <br>
    <br>
  <div class="page-header">
    <h1 class="page-header">Sprint Backlog</h1>
  </div>
    <br>
        <div class="card" style="width:100%; background-color: #DFDFDF;">
          <!-- if want to use img, use the below code -->
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h4 class="card-title">{{sprints.title}}</h4>
            <div style="display: flex">
              <div style="flex:50%;">
                  <p class="card-text">Goal: {{ sprints.sprint_goal }}</p>
              </div>
              <div style="flex:50%;">
                <p class="card-text">Start Date: {{ sprints.start_date }}</p>
              </div>
            </div>
            <br>

            <div style="display: flex">
              <div style="flex:50%;">
                <p class="card-text">Status: {{ sprints.get_status_display }}</p>
              </div>
              <div style="flex:50%;">
                <p class="card-text">End Date: {{sprints.end_date}}</p>
              </div>
            </div>
            <br>

            <div style="display: flex">
              <div style="flex:50%;">
                <p class="card-text">Duration: {{sprints.duration}}</p>
              </div>
            </div>
          </div>
        </div>
            <a href="{%url 'sprint-list'%}" class="btn btn-secondary" style="width:7%;" data-inline="true">Back</a>
        {% if sprints.status != "IN"%}
            <a href="#" class="btn btn-secondary" style="width:7%;" data-inline="true">Edit</a>
            <a href="{%url 'start' sprints.id%}" class="btn btn-success" style="width:15%;" data-inline="true">Start Sprint</a>
        {% else %}
            <a href="#" class="btn btn-danger" style="width:15%;" data-inline="true">End Sprint</a>
        {% endif %}
<div>
    <br>
    <h3><b>Tasks</b></h3>
    <table class= "table table-hover table-striped">
        <thead class="table_head">
            <tr>
                <th class="col1">Title</th>
                <th class="col2">Priority</th>
                <th class="col3">Status</th>
                <th class="col4">Tag</th>
                <th class="col5">Assignee</th>
                <th class="col6" style="width:0px;"></th>
             </tr>
        </thead>
        <tbody>
            {% for x in task %}
                {% if x.sprint == sprints and sprints.status == Sprint.ONGOING %}
                <tr>
                  <td>{{ x.title }}</td>
                  <td>{{ x.get_priority_display }}</td>
                  <td>{{ x.get_status_display }}</td>
                  <td>{{ x.tag }}</td>
                  <td>{{ x.assignee }}</td>
                </tr>
                {% else %}
                <tr>
                  <td>{{ x.title }}</td>
                  <td>{{ x.get_priority_display }}</td>
                  <td>{{ x.get_status_display }}</td>
                  <td>{{ x.tag }}</td>
                  <td>{{ x.assignee }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
