{% extends 'tasks/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset >
          <div class="page-header">
            <h1 class="page-header">New Sprint</h1>
          </div>
            <br>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button type="SUBMIT" class="btn btn-success">Create</button>
            <a href="{% url 'sprint-backlog' %}"><button type="button" class="btn btn-danger">Cancel</button></a>
        </div>
    </form>
{% endblock content %}

