{% extends 'tasks/base.html' %}

    <!--START OF CONTENTS-->
    {% block content %}
        <div class="container" style="overflow: hidden;">
        <br>
        <br>
        <div class="page-header">
            <h1 class="page-header">Sprint List</h1>
        </div>
        <br>
        </div>
        <br>
        <br>
        <br>

        
        <div class="row" style="display:flex">
            <div class="column" style="flex:50%">
                <div class="page-header">
                    <h2 class="page-header" style="text-align: center;">On going tasks</h2>
                </div>
                <br>
                <div>
                    <table class= "table table-hover table-striped">
                        <thead class="table_head">
                            <tr>
                                <th class="col1">Task</th>
                                <th class="col2">Assignee</th>
                                <th class="col3">Status</th>
                                <th class="col4">Time</th>
                                <th class="col6" style="width:30px;"></th>
                             </tr>
                         </thead>
                    </table>
                    </div>
            </div>
            <div class="column" style="flex:50%">
                <div class="page-header">
                    <h2 class="page-header" style="text-align: center;">Completed tasks</h2>
                </div>
                <br>
                <div>
                    <table class= "table table-hover table-striped">
                        <thead class="table_head">
                            <tr>
                                <th class="col1">Task</th>
                                <th class="col2">Assignee</th>
                                <th class="col3">Status</th>
                                <th class="col4">Time</th>
                                <th class="col6" style="width:30px;"></th>
                             </tr>
                         </thead>
                    </table>
                    </div>
            </div>
        </div>

       


    {% endblock content %}
    <!-- end of content-->
        

    