{% extends 'tasks/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <fieldset>
        <div class="page-header">
            <h1 class="page-header">New Sprint</h1>
        </div>
        {{ form.title|as_crispy_field }}
        {{ form.sprint_goal|as_crispy_field }}

        <div class="row">
            <div class="col-4">
                {{ form.start_date|as_crispy_field }}
            </div>
            <div class="col-3"></div>
            <div class="col-4">
                {{ form.end_date|as_crispy_field }}
            </div>
        </div>


    </fieldset>
    <br>
    <div>
        <button type="SUBMIT" class="btn btn-success">Create</button>
        <a href="{% url 'sprint-backlog' %}">
            <button type="button" class="btn btn-danger">Cancel</button>
        </a>
    </div>
</form>
{% endblock content %}

