{% extends 'tasks/base.html' %}
{% block content %}
<!--FEATURES-->
<!--END BUTTON -> ENDS THE SPRINT, MAKE IT HIDE WITH JS(ONE TIME BUTTON), UPDATES STATUS TO DONE OR COMPLETE -->
<!--EDIT STATUS -> CAN EDIT STATUS OF THE TASKS, WILL UPDATE TO SQL. -->
<!--TIME-IN -> CAN INPUT A INPUT FIELD TO FILL IN TIME AND SAVE TO SQL. -->
<!--SAVE BUTTON -> PROMPT TO SAVE HTML AND UPDATES SQL -->
    <br>
  <div class="page-header">
    <h1 class="page-header">{{ sprint.title }}</h1>
  </div>
<br>
    <div class="card" style="width:100%; background-color: #DFDFDF;">
      <!-- if want to use img, use the below code -->
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
          <br>
        <div style="display: flex">
          <div style="flex:50%;">
              <p class="card-text">Goal: {{ sprint.sprint_goal }}</p>
          </div>
          <div style="flex:50%;">
            <p class="card-text">Start Date: {{ sprint.start_date }}</p>
          </div>
        </div>
        <br>

        <div style="display: flex">
          <div style="flex:50%;">
            <p class="card-text">Status: {{ sprint.get_status_display }}</p>
          </div>
          <div style="flex:50%;">
            <p class="card-text">End Date: {{sprint.end_date}}</p>
          </div>
        </div>
        <br>

        <div style="display: flex">
          <div style="flex:50%;">
            <p class="card-text">Days left: {{sprint.days_left}}</p>
          </div>
        </div>
      </div>
    </div>
    <a href="{% url 'sprint-list' %}" class="btn btn-secondary" style="width:7%;" data-inline="true">Back</a>

    {% if sprint.status == PENDING %}

        <a href="{% url 'sprint-update' sprint.id %}" class="btn btn-secondary" style="width:7%;" data-inline="true">Edit</a>
        <a href="{% url 'start-end' sprint.id %}" class="btn btn-success" style="width:15%;" data-inline="true">Start Sprint</a>

    {% elif sprint.status == ONGOING %}

        <a href="{% url 'start-end' sprint.id %}" class="btn btn-danger" style="width:15%;" data-inline="true">End Sprint</a>

    {% endif %}

<div>
    <br>
    <br>
    <h3><b>Tasks</b></h3>

    <table class= "table table-hover table-striped">
        <thead class="table_head">
            <tr>
                <th class="col1">Title</th>
                <th class="col2">Priority</th>
                <th class="col3">Status</th>
                <th class="col4">Tag</th>
                <th class="col5">Assignee</th>
             </tr>
        </thead>
        <tbody>
            {% for task in sprint.tasks.all %}
{#                {% if x.sprint == sprint and sprint.status == "ON" %}#}
                    <tr>
                      <td>{{ task.title}}</td>
                      <td>{{ task.get_priority_display }}</td>
                      <td>{{ task.get_status_display }}</td>
                      <td>{{ task.tag }}</td>
                      <td>{{ task.assignee }}</td>
                      <td><a href="{% url 'task-update-status' task.pk %}"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></td>
                    </tr>
{#                {% elif sprint.status == "EN" and x.status == "OV"%}#}
{#                    <tr>#}
{#                      <td>{{ x.title }}</td>#}
{#                      <td>{{ x.get_priority_display }}</td>#}
{#                      <td>{{ x.get_status_display }}</td>#}
{#                      <td>{{ x.tag }}</td>#}
{#                      <td>{{ x.assignee }}</td>#}
{#                    </tr>#}
{#                {% elif sprint.status == "PE" and x.sprint == sprint %}#}
{#                    <tr>#}
{#                      <td>{{ x.title }}</td>#}
{#                      <td>{{ x.get_priority_display }}</td>#}
{#                      <td>{{ x.get_status_display }}</td>#}
{#                      <td>{{ x.tag }}</td>#}
{#                      <td>{{x.assignee }}</td>#}
{#                    </tr>#}
{#                {% endif %}#}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
