{% extends 'tasks/base.html' %}

<!--START OF CONTENTS-->
{% block content %}
{% load custom_tags %}
    <br>
    <div class="page-header">
        <h1 class="page-header">Sprint Backlog</h1>
    </div>
    <br>
    <div style=" text-align: right; padding-right: 20px;">
    </div>

    {% for sprint in sprint_list %}
    <div class="card" style="width: 100%; height: 230px"><!--Add height 230px if-->
      <div class="card-body card border-info mb-0">
        <div style="display:flex;">
            {% if sprint.status == PENDING %}
                <a href="{% url 'sprint-detail' sprint.id %}" ><h5 class="card-title" style="color:#012970; font-size: 1.5rem;">{{ sprint.title}} <button type="button" class="btn btn-outline-primary disabled">Pending</button></h5></a>
            {% elif sprint.status == ONGOING %}
                <a href="{% url 'sprint-detail' sprint.id %}" ><h5 class="card-title" style="color:#012970; font-size: 1.5rem;">{{ sprint.title}} <button type="button" class="btn btn-outline-warning disabled">Ongoing</button></h5></a>
            {% elif sprint.status == ENDED %}
                <a href="{% url 'sprint-detail' sprint.id %}" ><h5 class="card-title" style="color:#012970; font-size: 1.5rem;">{{ sprint.title}} <button type="button" class="btn btn-outline-secondary disabled">Ended</button></h5></a>
            {% endif %}
        </div>

        <div style="display: flex">
            <div style="flex:50%;">
              <p class="card-text"><b>Start Date: </b>{{ sprint.start_date|date:"j F Y" }}</p>
              <p class="card-text"><b>End Date: </b>{{ sprint.end_date|date:"j F Y" }}</p>
            </div>

            <div style="flex:50%;">
                {% if sprint.status == ONGOING %}
                    <p class="card-text"><b>Ends In: </b>{{ sprint.end_date|timeuntil }}</p>
                {% elif sprint.status == PENDING %}
                    <p class="card-text"><b>Starts In: </b>{{ sprint.start_date|timeuntil }}</p>
                {% elif sprint.status == ENDED %}
                    <p class="card-text"><b>Last Active: </b>{{ sprint.end_date|timesince }}</p>
                {% endif %}

                <p class="card-text"><b>Number of tasks: </b>{{ tasks|filter_count_sprint:sprint }}</p>
            </div>
        </div>
        <br>
      {% if sprint.status != PENDING %}
            <div style="display: flex">
              <div style="flex:50%;">
                  <div style="text-align:center; font-size: 15px;">
                    {{ sprint|percentage }}%
                  </div>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{sprint|percentage}}%"></div>
                  </div>
              </div>
            </div>
      {% endif %}

      </div>
    </div>
    {% endfor %}
{% endblock content %}
<!-- end of content-->