{% extends 'tasks/base.html' %}
{% block content %}
<div class="page-header">
    <h1 class="page-header">The Winning Team</h1>
    <a href="{%url 'member-formset'%}" class="btn btn-primary" role="button" style="float: right;">Update Members</a>
</div>
<br>
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}" role="alert"{% endif %} style="width:800px">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
<br>
{% for member in member_list %}

        <div class="card" style="width: 50%">
          <div class="card-body">
            <h5 class="card-title">{{ member }}<span> | {{ member.nickname }} </span></h5>
            <p class="card-text">
                {{ member.email }} <a href="mailto:{{ member.email }}"><i class="fa fa-envelope" aria-hidden="true" style="color:#91A3F8"></i></a>
            </p>
            <a href="{% url 'member-detail' member.id %}" class="btn btn-primary active" role="button" aria-pressed="true">Details</a>
          </div>
        </div>

    {% endfor %}
{% endblock content %}

