{% extends 'tasks/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <!--{{form.as_p}}
    {% crispy form %}
    {{ formset.management_form }}
    {% for form in formset %}
    <h1>Member</h1>
    <div class="row">
        <div class="col-6">
            {{ field.first_name }}
            <br>
            {{ field.email }}
        </div>
        <div class="col-6">
            {{ field.last_name }}
        </div>
    </div>
    <hr>
    <br>
    {% endfor %}-->
    <div>
        <button type="submit" class="btn btn-success">Save
            {# <i class="fa fa-check" aria-hidden="true" style="color: white"></i>#}
        </button>
        <a href="{% url 'member-list' %}">
            <button type="button" class="btn btn-danger">Cancel</button>
        </a>
        <a href="{% url 'member-list' %}">
            <button type="button" class="btn btn-secondary">Back</button>
        </a>
    </div>
</form>
{% endblock content %}
