{% extends 'tasks/base.html' %}
{% block content %}

<br>
<div class="page-header">
    <h1 class="page-header">Members</h1>
</div>
</div>

<!-- Add member button -->
<div style=" text-align: right; padding-right: 20px;">
  <a href="#"><i class="fa fa-plus fa-3x" aria-hidden="true" style="color:tomato;"></i></a>
</div>
<!-- Add member button end -->
<br>
<br>

<!-- First row member list -->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card text-center" style="width: 15rem; height: 18rem;">
        {% load static %}
        <a href="#"><img class="card-img-top" style="width:10rem; height: 13rem; padding-top: 15px;" src="{% static "\assets\img\default_avatar.png" %}" 
          alt="Card image cap"/></a>
        <div class="card-body">
          <h5 class="card-title" style="height:100px; margin: 0px; padding-top: 30px;"><a href="#">Tim Leh</a></h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-center" style="width: 15rem; height: 18rem;">
        {% load static %}
        <a href="#"><img class="card-img-top" style="width:10rem; height: 13rem; padding-top: 15px;" src="{% static "\assets\img\default_avatar.png" %}" 
          alt="Card image cap"/></a>
        <div class="card-body">
          <h5 class="card-title" style="height:100px; margin: 0px; padding-top: 30px;"><a href="#">Tim Leh</a></h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-center" style="width: 15rem; height: 18rem;">
        {% load static %}
        <a href="#"><img class="card-img-top" style="width:10rem; height: 13rem; padding-top: 15px;" src="{% static "\assets\img\default_avatar.png" %}" 
          alt="Card image cap"/></a>
        <div class="card-body">
          <h5 class="card-title" style="height:100px; margin: 0px; padding-top: 30px;"><a href="#">Tim Leh</a></h5>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card text-center" style="width: 15rem; height: 18rem;">
        {% load static %}
        <a href="#"><img class="card-img-top" style="width:10rem; height: 13rem; padding-top: 15px;" src="{% static "\assets\img\default_avatar.png" %}" 
          alt="Card image cap"/></a>
        <div class="card-body">
          <h5 class="card-title" style="height:100px; margin: 0px; padding-top: 30px;"><a href="#">Tim Leh</a></h5>
        </div>
      </div>
    </div>
    <!-- End First row member list -->

    <!-- Second row member list -->
    <div class="col-sm">
      <div class="card text-center" style="width: 15rem; height: 18rem;">
        {% load static %}
        <a href="#"><img class="card-img-top" style="width:10rem; height: 13rem; padding-top: 15px;" src="{% static "\assets\img\default_avatar.png" %}" 
          alt="Card image cap"/></a>
        <div class="card-body">
          <h5 class="card-title" style="height:100px; margin: 0px; padding-top: 30px;"><a href="#">Tim Leh</a></h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-center" style="width: 15rem; height: 18rem;">
        {% load static %}
        <a href="#"><img class="card-img-top" style="width:10rem; height: 13rem; padding-top: 15px;" src="{% static "\assets\img\default_avatar.png" %}" 
          alt="Card image cap"/></a>
        <div class="card-body">
          <h5 class="card-title" style="height:100px; margin: 0px; padding-top: 30px;"><a href="#">Tim Leh</a></h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-center" style="width: 15rem; height: 18rem;">
        {% load static %}
        <a href="#"><img class="card-img-top" style="width:10rem; height: 13rem; padding-top: 15px;" src="{% static "\assets\img\default_avatar.png" %}" 
          alt="Card image cap"/></a>
        <div class="card-body">
          <h5 class="card-title" style="height:100px; margin: 0px; padding-top: 30px;"><a href="#">Tim Leh</a></h5>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card text-center" style="width: 15rem; height: 18rem;">
        {% load static %}
        <a href="#"><img class="card-img-top" style="width:10rem; height: 13rem; padding-top: 15px;" src="{% static "\assets\img\default_avatar.png" %}" 
          alt="Card image cap"/></a>
        <div class="card-body">
          <h5 class="card-title" style="height:100px; margin: 0px; padding-top: 30px;"><a href="#">Tim Leh</a></h5>
        </div>
      </div>
    </div>
    <!-- End Second row member list -->

  </div>
</div>


{% endblock content %}

