{% extends 'tasks/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <fieldset>
        <br>
        <br>
        <div class="page-header">
            {% if member is None %}
            <h1 class="page-header">New Member</h1>
            {% else %}
            <h1 class="page-header">Update Member</h1>
            {% endif %}
        </div>
        <br>
        <div class="row">
            <div class="col-5">
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                {{ form.nickname|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                {{ form.last_name|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form.email|as_crispy_field }}
            </div>
        </div>
    </fieldset>
    <br>
    <div>
        <button type="submit" class="btn btn-success">Save
            {# <i class="fa fa-check" aria-hidden="true" style="color: white"></i>#}
        </button>
        {% if member is not None %}
        <a href="{% url 'member-delete' member.id %}">
            <button type="button" class="btn btn-danger">Delete</button>
        </a>

        <a href="{% url 'member-detail' member.id %}">
            <button type="button" class="btn btn-danger">Cancel</button>
        </a>
        {% else %}
        <a href="{% url 'member-list' %}">
            <button type="button" class="btn btn-danger">Cancel</button>
        </a>
        {% endif %}
    </div>

</form>
{% endblock content %}
