{% extends 'tasks/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <fieldset>
        <br>
        <br>
        <div class="page-header">
            {% if member is None %}
            <h1 class="page-header">New Member</h1>
            {% else %}
            <h1 class="page-header">Update Member</h1>
            {% endif %}
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                {{form.first_name|as_crispy_field}}
                {{form.email|as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.last_name|as_crispy_field}}
            </div>
        </div>
    </fieldset>
    <div>
        <button type="submit" class="btn btn-success">Save
        </button>
    </div>
</form>
{% endblock content %}
