{% extends 'tasks/base.html' %}
{% load custom_tags %}
{% block content %}
    <br>
  <div class="page-header">
    <h1 class="page-header">Member Details</h1>
  </div>
    <div align="right">
        <a href="{% url 'member-update' member.id %}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
    </div>
    <br>
<div class="card" style="width: 100%;">
  <div class="card-body">
    <br>
    <p class="card-text" style="font-size:20px"><b>First Name:</b> {{ member.first_name }}</p>
    <p class="card-text" style="font-size:20px"><b>Last Name:</b> {{ member.last_name }}</p>
    <p class="card-text" style="font-size:20px"><b>Email:</b> {{ member.email }} <a href="mailto:{{ member.email }}"><i class="fa fa-envelope" aria-hidden="true" style="color:#91A3F8"></i></a></p>
  </div>
</div>

  <div class="row">
    <div class="col-4">

      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h4 class="card-title">{{tasks}} Tasks<span> | Task Completion Rate</span></h4>
          {% if tasks > 0 %}
          <div style="height:70%; width:70%; margin: auto;">
            <h4 class="card-text" style="text-align: center;">{{tasks_done}}% Completed</h4>
            <canvas id="pieChart"></canvas>

            <br>
          </div>

          {%endif%}

        </div>
      </div>

    </div>
    <div class="col-8">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h4 class="card-title">Analytics<span> | Working Hours</span></h4>
          <div style="height:50%; width:50%;">
            <canvas id="barChart"></canvas>
          </div>
          <div style="height:50%; width:50%;">
            <canvas id="barChart2"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Change data/config variable to respective chart-->
<script>
// Pie Chart
  const dataPie = {
    labels: [
      'Complete',
      'Pending',
      'In Progress',
      'Overdue'
    ],
    datasets: [{
      label: 'My First Dataset',
      data: {{render_pie}},
      backgroundColor: [
        'rgb(5, 110, 35)',
        'rgb(237, 190, 19)',
        'rgb(50, 130, 246)',
        'rgb(173,37,1)',
      ],
      hoverOffset: 4
    }]
  };

  const configPie = {
    type: 'pie',
    data: dataPie,
    options: {
        plugins: {
            legend: {
                position: 'bottom',
                display: true
            },
        },
    },
  };

  const myChart = new Chart(
    document.getElementById('pieChart'),
    configPie
  );

// BAR CHART

  const labelBar = [
  {% for sprint in sprint_list %}
   "{{ sprint.title }}",
  {% endfor %}

  ];
  const dataBar = {
    labels: labelBar,
    datasets: [{
      label: 'Total Working Hour',
      data: [
      {% for item in data.sum %}
          {{ item }},
      {% endfor %}
      ],
      backgroundColor: ['rgba(153, 102, 255, 0.2)'],
      borderColor: ['rgba(153, 102, 255, 1)'],
      borderWidth: 1,
      opacity:1,
    }]
  };

  const configBar = {
    type: 'bar',
    data: dataBar,
    options: {
        plugins: {
            title: { display: true, text: 'Total Working Hours'},
            legend: {
                display: false
            },
        },
      scales: {
        y: {
          beginAtZero: true,
          ticks: { stepSize: 5},
          title: {text: 'Hours', display: true}
        },
        x: {title:{text: 'Sprints', display: true}}
      }
    },
  };

  const myChart2 = new Chart(
    document.getElementById('barChart'),
    configBar)

// Bar chart 2

  const labelBar2 = [
  {% for sprint in sprint_list %}
   "{{ sprint.title }}",
  {% endfor %}

  ];
  const dataBar2 = {
    labels: labelBar2,
    datasets: [{
      label: 'Average Working Hour',
      data: [
      {% for item in data.avg %}
          {{ item|floatformat }},
      {% endfor %}

      ],
      borderWidth: 1,
      backgroundColor: ['rgba(54, 162, 235, 0.2)'],
      borderColor: ['rgba(54, 162, 235, 1)'],
    }]
  };

  const configBar2 = {
    type: 'bar',
    data: dataBar2,
    options: {
        plugins: {
            title: { display: true, text: 'Average Working Hours'},
            legend: {
                display: false
            },
        },
      scales: {
        y: {
          beginAtZero: true,
          ticks: { stepSize: 5},
          title: {text: 'Hours', display: true}
        },
        x: {title:{text: 'Sprints', display: true}}
      }
    },
  };

  const myChart3 = new Chart(
    document.getElementById('barChart2'),
    configBar2)
</script>
<script>

</script>

{% endblock content %}