{% block content %}
    <form method="POST" class="card p-3 mt-5" autocomplete="off">
        {% csrf_token %}
        <fieldset >
          <div class="page-header">
            <h1 class="page-header">Start Sprint</h1>
          </div>
            {% for field in form %}
            <p>
            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}
        </fieldset>
        <div>
            <button type="submit" class="btn btn-success">Start</button>
            <button type="button" class="btn btn-danger">Cancel</button>
        </div>
    </form>
{% endblock content %}
